.passion {
  font-family: passion-one,cursive;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

img {
  border: none;
  vertical-align: middle;
}
.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.innerBody{
  width:80%;
  background-color:lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.restcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rest {
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  margin: 10px;
  width: 450px;

  font-family: touse;

  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.rest:hover {
  box-shadow: 0 0 15px grey;
}

.sepline {
  height: 1px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  margin-top: 5px;
}

.restinfo {
  padding: 10px;
  cursor: default;
}

.restcity {
  font-weight: bold;
  font-size: 12px;
}

.restname {
  font-size: 20px;
}

.restcuisines {
  font-size: 15px;
}

.restcuisine {
  margin: 2px;
  border: 1px solid grey;
}

.restfilter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: touse;
  padding: 10px;
}

.reststats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 10px;
  cursor: default;

  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.reststats:hover {
  background-color: cornflowerblue;
  color: white;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}